<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>clubRockers</title>
</head>
<body>
<h1>College of Engineering</h1>
<h2>ENGR 350 – INTROD. TO PROG. FOR DATA SCI</h2>
<h3>Project Report</h3>

</br>
</br>
</br>

<h1>Developer Insights</h1>

</br>
</br>
</br>


<p><b>Participant information:</b></p>

<ul>
    <li><b>Ahmet Can Solak</b> 0050545</li>
<li><b>Ali Şardağ</b> 0059811</li>
    <li><b>Hazal Mengüaslan</b> 0054306</li>
</ul>

<br>
<br>


<p><b>Project Advisor:</b> Banu Yobaş</p>

<h6>August 2018</h6>


</body>
</html>